<% content_for :meta_title, "Find my itinerary on #{@itinerary.theme} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @itinerary.description %>


<div data-controller="map"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-map-waypoints-value="<%= @waypoints.to_json %>"
     data-map-current-itinerary-index-value="0">

  <div class="position-relative col-12 col-sm-4 z-2 glass-card-background pe-4">
    <div class="py-5">
      <div class="liquid-glass pb-3 p-3 fixed-bottom col-12 col-sm-4">
        <div class="z-2 mb-3 px-3 text-center">
          <h5 class="mb-3 fw-bold" style="color: #2D3A8C; font-size: 20px;"><%= @itinerary.theme %></h5>
        </div>

        <div class="p-3 bg-white rounded-4">
          <div class="mb-3">
            <div class="d-flex my-2 gap-2">
              <h5 class="text-black">⏳ <span class="duration"></span></h5>
              <h5 class="text-black">⬆️ <span class="distance"></span></h5>
            </div>
            <%= render "shared/address", itinerary_objective: @itinerary_objective %>
          </div>

          <div class="d-flex justify-content-between gap-1">
            <%= link_to best_itinerary_itinerary_objective_itineraries_path(@itinerary_objective),
              class: "btn p-2 px-4 rounded-4 text-black text-decoration-none",
              style: "background: white; border:2px solid #2D3A8C; color: #2D3A8C" do %>
            Change Detour
            <% end %>

            <%= link_to root_path(),
              class: "btn p-2 px-4 rounded-4 text-white text-decoration-none",
              style: "background:#2D3A8C; color: white" do %>
            <strong>New Itinerary</strong>
            <% end %>
            </div>


        </div>
      </div>
    </div>
  </div>

  <%= render "shared/map", waypoints: @waypoints %>
</div>
