<div style="position:fixed" id="search" class="col-12 col-sm-4 z-2 glass-card-background" data-controller="form-visibility" data-action="address-autocomplete:inputFilled->form-visibility#toggleVisibility">

<div class="py-5" style="margin">
  <div class="liquid-glass p-3 fixed-bottom col-12 col-sm-4">
<div class="mb-2 fw-bold fs-8" style="color: #2D3A8C; font-size: 18px; text-align: center">CREATE YOUR JOURNEY</div>
 <%= simple_form_for @itinerary_objective do |f| %>
    <%= f.simple_fields_for :departure_address, Address.new do |g| %>
      <%= g.input :full_address,
      input_html: {
        data: {
          address_autocomplete_target: "address",
          enable_geolocation: true
        },
        placeholder: "Departure address",
        class:"d-none"},
      wrapper_html: {
        class: "position-relative z-2",
        data: {
          controller: "address-autocomplete",
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"],
          address_autocomplete_identifier_value: "departureField",
          form_visibility_target: "departureAddress" }},
      label: false %>
    <% end %>

    <%= f.simple_fields_for :arrival_address, Address.new do |g| %>
      <%= g.input :full_address,
        input_html: {
          data: {address_autocomplete_target: "address"},
          placeholder: "Arrival address",
          class:"d-none"},
        wrapper_html: {
          class: "position-relative z-3 d-none",
          data: {
            controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"],
            address_autocomplete_identifier_value: "arrivalField",
            form_visibility_target: "arrivalAddress" }},
          label: false %>
    <% end %>

<div id="ctas" class="d-none" data-form-visibility-target="detourCtas">

  <div class="mb-2">
    <%= f.radio_button :duration_objective, "0", id: "option1" %>
    <label for="option1" style="border: 1px solid #00286A">
      <span class="main-text direct me-2">Direct</span>
      <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757591/arrow-right-from-line-light-full_h7hbpb.svg" alt="icone direct" style="width: 18px">
    </label>
  </div>

  <div class="mb-2">
    <%= f.radio_button :duration_objective, "10", id: "option2" %>
    <label for="option2" style="border: 1px solid #00286A">
      <span class="main-text max-10 me-2">Short Detour</span>
      <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-sine-light-full_gf3bnl.svg" alt="" style="width: 18px">
    <div>
      <span class="sub-text ms-2">max 10 minutes</span>
    </div>
    </label>
  </div>

  <div class="mb-2">
    <%= f.radio_button :duration_objective, "20", id: "option3" %>
    <label for="option3" style="border: 1px solid #00286A">
        <span class="main-text max-20 me-2">Long Detour</span>
        <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-square-light-full_en7p0i.svg" alt="" style="width: 18px">
        <span class="sub-text ms-1">max 20 minutes</span>
    </label>
  </div>

      <div class="d-flex justify-content-end w-100">
        <%= f.submit "GO", class: "go btn btn-light rounded-4 mt-2" %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
<%= render "shared/map", waypoints: [], is_home: true %>

</div>
