<div style="position:fixed" id="search" class="col-12 col-sm-4 z-2 glass-card-background" data-controller="form-visibility" data-action="address-autocomplete:inputFilled->form-visibility#toggleVisibility">

<div class="py-5" style="margin-right: 1.5em">
  <div class="liquid-glass p-3">

 <%= simple_form_for @itinerary_objective do |f| %>
    <%= f.simple_fields_for :departure_address, Address.new do |g| %>
      <%= g.input :full_address,
      input_html: {
        data: {
          address_autocomplete_target: "address",
          enable_geolocation: true
        },
        placeholder: "Departure address",
        class:"d-none"},
      wrapper_html: {
        class: "position-relative z-3",
        data: {
          controller: "address-autocomplete",
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"],
          address_autocomplete_identifier_value: "departureField",
          form_visibility_target: "departureAddress" }},
      label: false %>
    <% end %>

    <%= f.simple_fields_for :arrival_address, Address.new do |g| %>
      <%= g.input :full_address,
        input_html: {
          data: {address_autocomplete_target: "address"},
          placeholder: "Arrival address",
          class:"d-none"},
        wrapper_html: {
          class: "position-relative z-2 d-none",
          data: {
            controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"],
            address_autocomplete_identifier_value: "arrivalField",
            form_visibility_target: "arrivalAddress" }},
          label: false %>
    <% end %>

<div id="ctas" class="row d-none" data-form-visibility-target="detourCtas">

  <div class="col-6 mb-3">
    <%= f.radio_button :duration_objective, "0", id: "option1" %>
    <label for="option1" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
      <div>
        <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757591/arrow-right-from-line-light-full_h7hbpb.svg" alt="" style="width: 20px">
        <span class="main-text direct">Direct</span>
      </div>
    </label>
  </div>

  <div class="col-6">
    <%= f.radio_button :duration_objective, "10", id: "option2" %>
    <label for="option2" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
      <div>
        <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-sine-light-full_gf3bnl.svg" alt="" style="width: 20px">
        <span class="main-text max-10">Short Detour</span>
        <span class="sub-text">max 10 minutes</span>
      </div>
    </label>
  </div>

  <div class="col-6">
    <%= f.radio_button :duration_objective, "20", id: "option3" %>
    <label for="option3" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
      <div>
        <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-square-light-full_en7p0i.svg" alt="" style="width: 20px">
        <span class="main-text max-20">Long Detour</span>
        <span class="sub-text">max 20 minutes</span>
      </div>
    </label>
  </div>

  <div class="col-6">
    <%= f.radio_button :duration_objective, "30", id: "option4" %>
    <label for="option4" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
      <div>
        <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-triangle-light-full_mapesf.svg" alt="" style="width: 20px">
        <span class="main-text long-scroll">Long Scroll</span>
        <span class="sub-text">+ 30 min</span>
      </div>
    </label>
  </div>
</div>

    <%# <div id="ctas" class="row d-none" data-form-visibility-target="detourCtas">

      <div class="col-6 mb-3">
        <input type="radio" id="option1" name="choice" value="1">
          <label for="option1" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
            <div>
              <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757591/arrow-right-from-line-light-full_h7hbpb.svg" alt="" style="width: 20px">
            <span class="main-text direct">Direct</span>
           </div>
        </label>
      </div>

      <div class="col-6">
        <input type="radio" id="option2" name="choice" value="2">
          <label for="option2" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
            <div>
              <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-sine-light-full_gf3bnl.svg" alt="" style="width: 20px">
              <span class="main-text max-10">Short Detour</span>
              <span class="sub-text">max 10 minutes</span>
            </div>
          </label>
      </div>

      <div class="col-6">
        <input type="radio" id="option3" name="choice" value="3">
          <label for="option3" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
            <div>
            <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-square-light-full_en7p0i.svg" alt="" style="width: 20px">
              <span class="main-text max-20">Long Detour</span>
              <span class="sub-text">max 20 minutes</span>
            </div>
          </label>
      </div>

      <div class="col-6">
        <input type="radio" id="option4" name="choice" value="4">
          <label for="option4"  style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
            <div>
              <img src="https://res.cloudinary.com/da5svsbtg/image/upload/v1756757082/wave-triangle-light-full_mapesf.svg" alt="" style="width: 20px">
              <span class="main-text long-scroll">Long Scroll</span>
              <span class="sub-text">+ 30 min</span>
            </div>
          </label>
        </div> %>


      <div class="d-flex justify-content-end w-100">
        <%= f.submit "GO", class: "go btn btn-dark rounded-4 mt-3" %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
<%= render "shared/map", waypoints: [] %>
